@import "tailwindcss";

.form-input {
  @apply w-full border border-gray-300 rounded-md px-3 py-2 focus:outline-none focus:ring-2 focus:ring-sky-400;
}

.card {
  @apply bg-white shadow rounded-xl p-4 flex flex-col gap-1;
}